.list{
    .card{
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 0 10px 0;
        background-color: white;
        font-family: monospace;
        display: flex;
        // Изображение и читать
        .subcontent{
            margin-left: 10px;
            img{
                width: 150px;
                height: 200px;
                background-color: red;
            }
            .read{
                height: 30px;
                background-color: $color_main;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        // Контент карточки
        .content{
            width: 100%;
            margin-left: 10px;
            margin-right: 10px;
            display: block;
            margin-top: 0;
            .title{
                font-size: 20px;
                display: flex;
                justify-content: space-between;
                .add{
                    width: 20px;
                    height: 20px;
                    margin-top: 1px;
                    border: 1px solid $color_main;
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s;
                    &:hover{
                        cursor: pointer;
                        background-color: $color_main;
                        color: white;
                    }
                }
            }
            .subtitle{
                margin-top: 5px;
                color: $color_sub;
                font-size: 12px;
            }
            .author{
                margin-top: 5px;
                font-size: 12px;
            }
            .discribe{
                height: 120px;
                overflow-y: scroll;
                margin-top: 10px;
                font-size: 12px;
            }
            .menu{
                margin-top: 20px;
                display: flex;
                justify-content: flex-end;
                .more{
                    width: 20px;
                    height: 20px;
                    font-size: 9px;
                    margin-left: 10px;
                    background-color: $color_main;
                    border: 1px solid $color_main;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .comment{
                    border: 1px solid $color_main;
                    font-size: 11px;
                    padding: 0 10px 0 10px;
                    line-height: 20px;
                }
            }
        }
    }
}