.groups{
    .group{
        background-color: white;
        border-left: 2px solid $color_sub;
        width: 100%;
        .title{
            height: 30px;
            line-height: 30px;
            text-indent: 10px;
        }
        .item{
            height: 30px;
            line-height: 30px;
            margin-top: 10px;
            margin-left: 10px;
        }
    }
}