// Импорт стилей
@import './assets/variables.scss'; // переменные
@import './assets/normalize.css';  // сброс стилей
@import './assets/fonts.scss';     // шрифты
// Импорт компонентов
@import './components/header.scss';
@import './components/filtr.scss';
@import './components/card.scss';
@import './components/group.scss';

body{
    background-color:rgb(252, 240, 255);
}
.content{
    width: 1080px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    .list{
        width: 70%;
    }
    .groups{
        width: 284px;
        margin-left: 20px;
    }
}